[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
joblib = "*"
numpy = "*"
pandas = "*"
category-encoders = "*"
google-cloud-storage = "*"
pydantic-settings = "*"
structlog = "*"

[dev-packages]
isort = "*"
black = "*"
flake8 = "*"

[requires]
python_version = "3.11"
